Cython
ffmpeg
ipykernel
ipympl
ipython
keras
matplotlib
natsort
numpy
openpyxl
pandas
plotly
prettytable
pyautogui
pycairo
pynput
PyPDF2
scikit-learn
scikit-image
scipy
selenium
tensorboard
tensorflow
tqdm

audioread
latex
pdflatex
librosa
manim
opencv-python
pipdeptree
pyclesperanto
python-docx
pytube
pystoi
qiskit
qutip
resampy
SoundFile
tmm
torch
torchmetrics
uncertainties